/* Home.css */

body, html {
  height: 100%; /* Ensure full height of viewport is covered */
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  position: relative;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/home_bgimg.jpeg') center/cover no-repeat; /* Adjust as needed */
  z-index: -1;
}

.content {
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
  max-width: 600px; /* Limit content width */
  padding: 20px; /* Add padding for spacing */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 10px;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #223843;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.button {
  background-color: #ffffff; /* Button background color */
  color: #333333; /* Button text color */
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #333333; /* Button background color on hover */
  color: #ffffff; /* Button text color on hover */
}

.copyright {
  font-size: 0.8rem;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .content {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .centered-box h1 {
    font-size: 2rem;
  }
  .centered-box p {
    font-size: 1rem;
  }
  .button {
    font-size: 0.8rem;
  }
}