    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

nav {
    background-color: #1C5D73;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: medium;
}

ul {
    list-style-type: none;
    margin-left: 35%;
    padding: 0;
    display: flex;
}

#doc{
    list-style-type: none;
    margin-left: 55%;
    padding: 0;
    display: flex;
    
}


ul li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; 
    display: inline-block;
    transition: all 0.3s ease;
    font-weight: 700;
}

ul li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(210, 204, 204, 0.1); 
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: 700;
}

ul li:hover a::after {
    opacity: 1;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    margin-right: -130px;
}

.profile .upload-text {
    position: relative;
    bottom: -30px;
    left: 70%;
    transform: translateX(-50%);
    background-color: rgba(45, 44, 44, 0.8);
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile:hover .upload-text {
    visibility: visible;
    opacity: 1;
}