.Card {
    width: 300px;
    height: 500px;
    border: 1px solid lightgray;
    margin-right: 20px; /* Margin between cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    display: inline-block; /* Display cards inline */
    vertical-align: top; /* Align cards to the top */
}

.Card:last-child {
    margin-right: 0; /* Remove margin for the last card */
}

.Card:hover {
    box-shadow: 0 0 20px 8px #7dc5dd;
    transform: scale(1.05);
}

.image-container {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uploaded-at {
    color: #aaa;
}

.date {
    font-weight: bold;
}

.delete-button {
    border-radius: 5px;
    font-weight: bold;
    margin-left: 95px;
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #d32f2f;
}
