/* Footer.css */
html{
  height: 100%;

}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}


.footer {
  background-color:rgb(28, 93, 115);
  width: 98.84vw;
  margin-top: 10rem;
  position:  inherit;
  bottom: -70px;
  left: 0;  
  
  z-index: -1;
  transition: z-index 0.3s ease; /* Smooth transition for z-index */
}

sb__footer__section__padding {
  width: 95%;
}



.footer.visible {
  z-index: 1; /* Show the footer when it has the .visible class */
}


.section__padding {
  padding: 8rem 8rem;
}

.sb__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sb__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb__footer-links_div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.socialmedia img {
  width: 30px;
}

.sb__footer-links_div h4 {
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 0.9rem;
  color: white;
}

.sb__footer-links_div p {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
  color: white;
}

.sb__footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
  width: 100%;
}

.sb__footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb__footer-below-links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: rgb(206, 206, 206);
  font-weight: 400;
}

hr {
  color: white !important;
  width: 100%;
}

.sb__footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  .sb__footer-links_div {
    width: 100%;
  }

  .sb__footer-links {
    flex-direction: column;
    align-items: center;
  }

  .sb__footer-below {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sb__footer-below-links {
    flex-direction: column;
  }

  .sb__footer-below-links p {
    margin-left: 0;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .sb__footer-links_div {
    margin: 1rem 0;
  }
}
