.dash-container {
  background-color: #C7EAE4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap */
  height: 100vh;
  padding: 20px;
}

.dash {
  width: 100%; /* Full width for smaller screens */
  max-width: 350px; /* Max width for larger screens */
  min-height: 300px; 
  margin: 20px;
  padding: 20px;
  background-color: #254441; /* Green background color */
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash:hover {
  transform: translateY(-10px);
}

.dash-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.dash-title {
  margin-top: 10px;
  font-size: 1.6rem; /* Slightly larger font size for title */
  color: #fbf4f4;
}

.dash-description {
  margin-top: 10px;
  font-size: 1.2rem; /* Slightly larger font size for description */
  color: #ffffff;
  line-height: 1.5;
}

/* Media Query for larger screens */
@media (min-width: 768px) {
  .dash-container {
    justify-content: space-around; /* Space out the items */
  }
  
  .dash {
    flex: 1 1 calc(33% - 40px); /* Flex basis for larger screens */
  }
}
