.Pat-Card {
    width: 300px;
    min-height: 100px;
    border: 1px solid lightgray;
    margin-right: 20px; /* Margin between cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    display: inline-block; /* Display cards inline */
    vertical-align: top; /* Align cards to the top */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Pat-Card:last-child {
    margin-right: 0; /* Remove margin for the last card */
}

.Pat-Card:hover {
    box-shadow: 0 0 10px 8px #aee1f1;
    transform: scale(1.05);
}

.info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-link {
    color: inherit; 
    text-decoration: none;
}

.card-link .info > div {
    color: initial; 
}