.Card{
    width: 324px;
    height: 384px;
    border: 1px solid lightgray;
    margin-bottom: 25px;
}

.img1{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.info{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: purple;
}

.pp{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.p{
    color: #111;
}

.star{
    display: flex;
    align-items: center;
    gap: 5px;
}

.simg{
    width: 14px;
    height: 14px;
}

.sstar{
    font-size: 14px;
    font-weight: bold;
    color: #ffc108;
}

.hr{
    height: 0;
    border: 0.5px solid rgb(239,238,238);
}

.details{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img2{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.pspan{
    color: #999;
    font-size: 12px;
}

.ph2{
    color: #555;
    font-size: 18px;
    font-weight: 400;
}

.link{
    text-decoration: none;
    color: inherit;
}